.chat {
  border: 1px solid black;
  flex: 1 1 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info span {
  font-size: 24px;
  color: var(--main-dim-color);
}
.info img {
  margin-top: 30px;
  max-width: 125px;
  width: 100%;
}

@media (max-width: 930px) {
  .chat {
    display: none;
  }
  .chat.open {
    display: flex;
  }
} 