.wrapper {
  border-top: 1px solid var(--hover-bg-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  /* height: 150px; */
  background-color: var(--main-bg-color);
}
.input-row {
  display: flex;
  align-items: center;
}
.input {
  width: 100%;
  padding: 10px 15px;
}
.input input {
  background-color: transparent;
  width: 100%;
  color: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  translate: 0 3px;
}