.wrapper {
  border-top: 1px solid var(--hover-bg-color);
  /* border-top: 1px solid #fff; */
  display: flex;
  align-items: center;
  z-index: 5;
  background-color: var(--main-bg-color);
}
.input {
  width: 100%;
  padding: 10px 15px;
}
.input input {
  background-color: transparent;
  width: 100%;
  color: #fff;
}
.submit-btn {
  color: #fff;
  display: flex;
  translate: 0 3px;
}