.list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: repeat(minmax(1, 3), 1fr); */
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 5px;
  
}
@media (max-width: 425px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.item {
  flex-basis: 160px;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  max-width: 300px;
}
.item:hover {
  border: 1px solid var(--hover-bg-color);
}
.item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}