.wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.text {
  text-align: center;
  color: var(--main-dim-color);
  overflow: hidden;
}

.image img {
  max-width: 150px;
}