.wrapper {
  --input-height: 110px;
  flex: 1 1 auto;
  margin-top: 50px;
  padding: 10px 30px;
  position: relative;
  overflow-y: scroll;
  max-height: calc(100vh - var(--input-height));
  
}

.with-images {
  --input-height: 185px;
}
